extends layout

block content

  h1(class='page-header') Kenneth Copeland Ministries
  p
  div(class='jumbotron jumbotron-fluid')
    div(class='container')
      h2 Welcome to KCM Devops!
      p Have fun with some devops commands.  Don't know which command to run?  Choose the "I'm feeling lucky command."